body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main-header-bg {
  background: url(./images/zomato.webp) no-repeat center -10px;
  background-size: cover;
  min-height: 440px;
  filter: brightness(70%);
}
.logo{
  margin: auto;
  width: 120px;
  border-radius: 4px;
}
.logo-container{
  text-align: center;
  width: 100%;
  position: relative;
  top: -380px;
}
#search-ip{
  position: relative;
  top: 40px;
  border-radius: 5px;
  padding: 0 0 0 10px;
}
#search-ip::placeholder{
  color: grey;
}
.header-form input[type='submit']{
  position: relative;
  top: 26px;
  height: 44px;
  border-radius: 4px;
}
.search-ip:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}
.brand-logo{
  /* margin-left: -100px; */
}
#header-form{
  display: inline;
  position: relative;
  left: 30%;
}
#header-form input[type='submit']{
  width: 80px;
  border: 1px solid white;
}
/* #header-nav{
  position: relative;
  right: -60px;
} */
#header-search{
  margin-right: 10px;
  padding-left: 10px;
  width: 26%;
  height: 36px;
  border-radius: 2px;
}
#header-search:focus{
  border-bottom: none;
}
.search-icon{
  display: inline;
  position: relative;
  top: 36px;
  z-index: 1;
  left: 0px;
}
.restaurants .card{
  height: calc(24rem - ( 2vw * 1.2) );
}

.restaurants-conatiner{
  position: relative;
  top: -280px;
}
/* .card-image{
  object-fit: fill;
} */
.card-image img{
  margin-top: 10px;
  width: 200px;
  height: 140px;
}
#card-info{
  margin: 0;
  padding: 0;
}
#card-info span{
  display: block;
}
.card-image .halfway-fab{
  position: relative;
  top: 96px;
}
#restaurant-image img{
  /* width: 100%; */
  max-height: 400px;
}
#restaurants-body{
  margin: 0;
  padding-top: 0;
}
#restaurant-rating{
  position: absolute;
  right: 30px;
  bottom: -4rem;
}
#restaurant-title{
  width: 80%;
}
.restaurant-details{
  display: flex;

}
.restaurant-info-title{
  width: 200px;
  display: inline-block;
}
.restaurant-info {
  display: inline-block;
  width: 100%;
}
.restaurant-details-div{
  margin: 20px 0;
}
.restaurant-action-div{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap;
}
.restaurant-action-div a{
  margin-bottom: 20px;
}
.restaurant-action-div button{
  width: 200px;
  height: 40px;
}
#modal-image-container{
  padding-left: 10px;
}
#restaurant-modal-img{
  min-width: 160px;
  max-width: 220px;
  /* height: 20vw; */
}
#restuarant-modal-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#restuarant-modal-form div{
  width: 240px;
  margin: 0 10px;
  flex-shrink: 0;
}
#restuarant-modal-form input:focus{
  border-bottom: none;
}
#restaurant-form-button{
  position: relative;
  top: 20px;
  width: 140px;
  height: 40px;
  margin-bottom: 20px;
}
#book-table-modal{
  min-height: 70%;
  max-height: 88%;
  padding-bottom: 40px;
  overflow: auto;
}
#no-bookings-div{
  height: 60vh;
}
#booking-card-content{
  padding-top: 0;
  /* margin: 0; */
}
.booking-info span{
  color: hsl(0, 0%, 40%);
  font-weight: bold;
}
#dp{
  width: 180px;
  height: 180px;
}
.character-counter{
  display: none;
}